.page{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
}

.cover{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: brown;
    align-items: center;
    width:30em;
    height: 30em;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em black;
}

h2{
    color: white;
}
.input-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
}

.input-box input{
    padding: 10px;
    width: 100%;
    height: 35px;
    font-size: 15px;
    transition: all 0.5s;
    
}

.input-box input:hover{
    border: 2px solid blue;
}

.btn-signup{
    width: 40%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    font-size: 15px;
    cursor: pointer;
}

.btn-signup:hover{
    transform: scale(1.25);
    border-radius: 7px;
}

.cover label{
    text-align: center;
    color: white;
    font-size: 20px;
}

.cover label a{
    text-decoration: none;
    color: yellow;
    font-weight: bold;

}
